$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
$orange: #F39812;
$red: #EB651A;

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
body {
  background-color: #222;
}

.bs-docs-sidebar {
  background-color: #444;
  margin-bottom: 40px;
}
.navbar-default {
  background-color: transparent;
  border: none;

  > .container {
    background-color: #444;
    position: relative;
  }

  .navbar-nav {
    margin: 95px 40px 40px;
    > li > a {
      background-color: $orange;
      border-bottom: 2px solid #000;
      color: #000;
      font-size: 18px;
      &.active,
      &:hover {
        background-color: $red;
      }
    }
  }
}
.navbar-header {
  float: left;
}

.title {
  color: #FFF;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
}

.social.nav {
  float: right;
  margin-top: 40px;
  > li {
    > a {
      color: #FFF;
      display: block;
      &:hover {
        background-color: #000;
      }
    }
  }
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.navbar-brand {
  display: block;
  padding: 0;
  height: auto;
}

/* all links */
.bs-docs-sidebar .nav > li > a {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  &:hover {
    background-color: $orange;
  }
}

/* nested links */
.bs-docs-sidebar .nav .nav > li > a {
  padding-bottom: 5px;
  padding-left: 30px;
  padding-top: 5px;
  font-size: 12px;
}

.main {
  img {
    max-width: 100%;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.content {
  background-color: #FFF;
  color: #000;
  font-size: 16px;
  padding: 40px 60px;
  margin-bottom: 40px;
  img {
    height: auto;
    padding: 20px 0;
    width: 100%;
  }
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

.firma {
  text-align: center;
  margin-top: 40px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 960px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
