$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);
$orange: #F39812;
$red: #EB651A;

/* Space out content a bit */
body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

body {
  background-color: #222;
  padding-top: 60px;
  &.home {
    background: url('../images/portero_salvando.jpg') no-repeat top center #000;
    background-size: cover;
  }
}

.container {
  max-width: 970px;
}

#logo {
  position: absolute;
  top: -60px;
  left: 40px;
  z-index: 999;
}

.navbar-default {
  background-color: transparent;
  border: none;
  margin: 0;

  .container {
    position: relative;
  }
  .navbar-nav {
    min-height: 0;
    > li > a {
      color: #FFF;
      font-size: 18px;
      font-weight: 300;
      padding: 10px 12px;
    }
  }
}

.main-navigation {
  background-color: $orange;
  overflow: hidden;
  padding-left: 200px;
  text-align: right;
}

.flexslider {
  border: none;
}

.social.nav {
  display: block;
  width: 100%;
  text-align: right;
  li {
    display: inline-block;
    a {
      color: #FFF;
      padding-left: 40px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .facebook {
    background: url('../images/facebook-logo.png') no-repeat 0 0;
  }
  .twitter {
    background: url('../images/twitter-logo.png') no-repeat 0 5px;
  }
  .youtube {
    background: url('../images/youtube-logo.png') no-repeat 0 8px;
  }
}

.taglines {
  margin: 10em 5em 25em 15em;
  text-align: right;
}
.tagline {
  color: #000;
  font-size: 70px;
  font-weight: bold;
}
.subtagline a {
  background-color: $red;
  color: #FFF;
  padding: 10px 20px;
  font-weight: bold;
  margin-top: 0;
}

.main {
  img {
    height: auto;
    width: 100%;
  }
}

.content {
  background-color: #FFF;
  color: #222;
  font-size: 16px;
  padding: 40px 60px;
  margin-bottom: 0;

  img {
    height: auto;
    padding: 20px 0;
    width: 100%;
  }

  h1 {
    color: $orange;
    font-size: 64px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #FFF;
  border-top: 1px solid #e5e5e5;
  .contacto,
  .privacidad,
  .direccion {
    float: left;
    padding: 20px;
    text-align: center;
    width: 33.333%;
  }

  .direccion {
    background: url('../images/mapa.png') center center no-repeat;
    background-size: cover;
    a {
      font-size: 18px;
      color: #FFF;
      display: block;
      font-weight: 300;
    }
  }
  .privacidad {
    padding: 60px 20px;
    span {
      font-size: 18px;
    }
  }

  .contacto {
    font-size: 18px;
    padding: 45px 20px;
    a {
      color: $orange;
    }
  }
}
body:not(.home) {
  .footer {
    background-color: #555;
    color: #FFF;
    font-weight: 300;
    padding: 0;
    overflow: hidden;
  }
}




.firma {
  text-align: center;
  margin-top: 40px;
}
